<mat-toolbar class="app-toolbar">
  <h1 class="store-name" (click)="navigate('home')" matTooltip="Voltar à tela inicial">Loja Bacana</h1>

  <div class="toolbar-search-and-button-container">
    <mat-form-field class="product-search-input" appearance="outline" (keydown)="handleKeydown($event)">
      <mat-icon matPrefix fontSet="material-icons-outlined">search</mat-icon>
      <mat-label>Pesquisar</mat-label>

      <input matInput  type="text" [(ngModel)]="searchValue">
    </mat-form-field>

    <button mat-fab (click)="navigate('cart')">
      <mat-icon
        [matBadge]="itemsInCart"
        [matBadgeHidden]="isBadgeHidden"
        fontSet="material-icons-outlined"
        matTooltip="Ir para o carrinho">
          shopping_cart
      </mat-icon>
    </button>

    <button mat-fab>
      <mat-icon
        fontSet="material-icons-outlined"
        matTooltip="Fazer login">
          person
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
